html {
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
a:active,
a:hover {
  outline: 0;
}
#video {
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
}
#buttons {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
}
button {
  font-size: 24px;
}
.connected #init-camera,
.disconnected #end-call {
  display: none;
}
.connected #end-call,
.disconnected #init-camera {
  display: inline;
}
