html {
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
}
#videos {
  width: 100%;
  height: 100%;
}
video {
  background-color: black;
  display: block;
  float: left;
}
.stream-1 video {
  width: 100%;
  height: 100%;
}
.stream-2 video {
  width: 50%;
  height: 100%;
}
.stream-3 video,
.stream-4 video {
  width: 50%;
  height: 50%;
}
.stream-5 video,
.stream-6 video {
  width: 33.333333%;
  height: 50%;
}
.stream-7 video,
.stream-8 video,
.stream-9 video {
  width: 33.333333%;
  height: 33.333333%;
}
.stream-10 video,
.stream-11 video,
.stream-12 video {
  width: 25%;
  height: 33.333333%;
}
.stream-13 video,
.stream-14 video,
.stream-15 video,
.stream-16 video {
  width: 25%;
  height: 25%;
}
.stream-17 video,
.stream-18 video,
.stream-19 video,
.stream-20 video {
  width: 20%;
  height: 25%;
}
.stream-21 video,
.stream-22 video,
.stream-23 video,
.stream-24 video,
.stream-25 video {
  width: 20%;
  height: 20%;
}
.stream-26 video,
.stream-27 video,
.stream-28 video,
.stream-29 video,
.stream-30 video {
  width: 16.666667%;
  height: 20%;
}
.stream-31 video,
.stream-32 video,
.stream-33 video,
.stream-34 video,
.stream-35 video,
.stream-36 video {
  width: 16.666667%;
  height: 16.666667%;
}
.stream-37 video,
.stream-38 video,
.stream-39 video,
.stream-40 video,
.stream-41 video,
.stream-42 video {
  width: 14.285714%;
  height: 16.666667%;
}
.stream-43 video,
.stream-44 video,
.stream-45 video,
.stream-46 video,
.stream-47 video,
.stream-48 video,
stream-49 video {
  width: 14.285714%;
  height: 14.285714%;
}
#buttons {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
}
button {
  font-size: 24px;
}
